*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #46494C;
  color: #DCDCDD;
  text-shadow: 1px 1px 5px #000000;
  font-family: 'Lato', sans-serif;
}

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    background-color: #4C5C68;
}

h2 {
  margin-top: 0px;
}

.main-project-img {
  font-size: 20px;
  text-align: center;
}

.title-img {
  border-radius: 5px;
  margin: 20px;
  width: 100px;
  height: 100px;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
}

.img-responsive {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.personal-links-tab {
  display: inline-block;
  text-align: center;
  padding:25px;
}

.personal-link {
  padding-right: 20px;
}

.about-me {
  text-align: center;
}

/*All media queries here*/

@media screen and (max-width: 768px) {
  .title-logo {
    display: table;
    margin: 0 auto;
  }
  .page-title {
    text-align: center;
    margin-top: 5px;
  }
  .project-thumbnail {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 900px) {
  .container-fluid {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
.img-responsive {
    margin: 0 auto;
}
