/** {
  border: 1px solid red !important;
}*/

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #46494C;
  color: #DCDCDD;
  text-shadow: 1px 1px 2px #000000;
  font-family: 'Lato', sans-serif;
}

hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    background-color: #4C5C68;
}

.titleLogo {
  border-radius: 25px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .titleLogo {
    display: table;
    margin: 0 auto;
  }
  .pageTitle {
    text-align: center;
  }
  .project-thumbnail {
    width: 33.3333333%;
  }
  .col-md-6 {
    width: 25%;
  }
}

@media screen and (min-width: 900px) {
  .container-fluid {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
.img-responsive {
    margin: 0 auto;
}
