<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 text-right text-uppercase page-title">
    <h2>Featured Projects</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-6 col-xs-6 main-project-img">
    <img class="img-responsive" src="images/madisonsquare-1x.JPG" srcset="images/madisonsquare-1x.JPG 1x, images/madisonsquare-2x.JPG 2x" alt="project 1">
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6 main-project-img">
    <img class="img-responsive" src="images/nyclibrary-1x.JPG" srcset="images/nyclibrary-1x.JPG 1x, images/nyclibrary-2x.JPG 2x" alt="project 2">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 text-right text-uppercase page-title">
    <h2>More Projects</h2>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4 col-sm-4 col-xs-4 project-thumbnail">
    <img class="img-responsive thumbnail" src="images/nycskyline-1x.JPG" srcset="images/nycskyline-1x.JPG 1x, images/nycskyline-2x.JPG 2x" alt="project 3">
    <figcaption>Project 3</figcaption>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4 project-thumbnail">
    <img class="img-responsive thumbnail" src="images/faoschwarz-1x.JPG" srcset="images/faoschwarz-1x.JPG 1x, images/faoschwarz-2x.JPG 2x" alt="project 4">
    <figcaption>Project 4</figcaption>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4 project-thumbnail">
    <img class="img-responsive thumbnail" src="images/brooklynbridge-1x.JPG" srcset="images/brooklynbridge-1x.JPG 1x, images/brooklynbridge-2x.JPG 2x" alt="project 5">
    <figcaption>Project 5</figcaption>
  </div>
</div>
<hr>
<div class="row about-me">
  <h4>About Me</h4>
  <p>
    Tech geek, working with computers for 25 years, currenty studying web development at Udacity
  </p>
</div>
<hr>
<div class="row text-center">
  <button class="btn btn-default" onclick="changeBg('ffc300')">Yellow Background</button>
  <button class="btn btn-default" onclick="changeBg('46494C')">Original Background</button>
</div>
