<div class="row">
  <div class="col-md-12" id="back">
    <h1>Back</h1>
  </div>
</div>
<div class="col-md-12 col-sm-12" id="bio">
  <script type="text/javascript">
    bio.display();
    </script>
</div>
<div class="col-md-12 col-sm-12" id="work">
  <script>
    work.display();
  </script>
</div>
<div class="col-md-12 col-sm-12" id="projects">
  <script>
    projects.display();
  </script>
</div>
<div class="col-md-12 col-sm-12" id="education">
  <script>
    education.display();
  </script>
</div>
<div class="col-md-12 col-sm-12" id="map-container">
  <hr><h2>Where I worked</h2><hr>
  <script>
    $("#map-container").ready(map.display())
  </script>
</div>
